In [124]:
import os
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings('ignore')
from sklearn.svm import SVC
from sklearn.svm import SVR
import matplotlib.pyplot as plt

In [125]:
cwd = os.getcwd()
cwd

'C:\\Users\\IQBALE\\ClassRoom\\SVM'

In [126]:
os.chdir(r'C:\Users\IQBALE\ClassRoom\SVM')

In [127]:
data = pd.read_csv("Cellphone.csv", sep = ',')
#data = pd.read_csv('winequality-white.csv', sep = ';')

In [128]:
data.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [129]:
data.columns

Index(['battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g',
       'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height',
       'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi', 'price_range'],
      dtype='object')

In [130]:
data.describe()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
count,2000.000000,2000.0000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,...,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,1238.518500,0.4950,1.522250,0.509500,4.309500,0.521500,32.046500,0.501750,140.249000,4.520500,...,645.108000,1251.515500,2124.213000,12.306500,5.767000,11.011000,0.761500,0.503000,0.507000,1.500000
std,439.418206,0.5001,0.816004,0.500035,4.341444,0.499662,18.145715,0.288416,35.399655,2.287837,...,443.780811,432.199447,1084.732044,4.213245,4.356398,5.463955,0.426273,0.500116,0.500076,1.118314
min,501.000000,0.0000,0.500000,0.000000,0.000000,0.000000,2.000000,0.100000,80.000000,1.000000,...,0.000000,500.000000,256.000000,5.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000
25%,851.750000,0.0000,0.700000,0.000000,1.000000,0.000000,16.000000,0.200000,109.000000,3.000000,...,282.750000,874.750000,1207.500000,9.000000,2.000000,6.000000,1.000000,0.000000,0.000000,0.750000
50%,1226.000000,0.0000,1.500000,1.000000,3.000000,1.000000,32.000000,0.500000,141.000000,4.000000,...,564.000000,1247.000000,2146.500000,12.000000,5.000000,11.000000,1.000000,1.000000,1.000000,1.500000
75%,1615.250000,1.0000,2.200000,1.000000,7.000000,1.000000,48.000000,0.800000,170.000000,7.000000,...,947.250000,1633.000000,3064.500000,16.000000,9.000000,16.000000,1.000000,1.000000,1.000000,2.250000
max,1998.000000,1.0000,3.000000,1.000000,19.000000,1.000000,64.000000,1.000000,200.000000,8.000000,...,1960.000000,1998.000000,3998.000000,19.000000,18.000000,20.000000,1.000000,1.000000,1.000000,3.000000

In [131]:
y = data.pop('price_range')

In [132]:
data[:3]

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,842,0,2.2,0,1,0,7,0.6,188,2,2,20,756,2549,9,7,19,0,0,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,6,905,1988,2631,17,3,7,1,1,0
2,563,1,0.5,1,2,1,41,0.9,145,5,6,1263,1716,2603,11,2,9,1,1,0

In [133]:
y[:3]

0    1
1    2
2    2
Name: price_range, dtype: int64

In [134]:
x_train,x_test,y_train,y_test = train_test_split(data,y,test_size=0.3,random_state = 10)

In [135]:
x_train.shape

(1400, 20)

In [136]:
y_train.shape

(1400,)

In [137]:
x_test.shape

(600, 20)

In [138]:
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [139]:
x_train[:2]

array([[-0.13826196,  1.01438923,  1.22279935, -1.03489416, -0.98020528,
         0.95118973, -0.29048806, -1.39973207, -1.4243059 ,  0.63950074,
        -1.45428904, -1.08300104, -1.64370999, -1.62639137, -1.24691209,
        -0.16977594,  1.44766129,  0.56085113,  1.00573071,  0.98159786],
       [-1.3780099 ,  1.01438923, -1.11841297,  0.96628239, -0.75326839,
         0.95118973,  0.97695308, -0.70948026, -1.22432026,  0.19911656,
         0.51318204, -1.02678555, -0.60061561, -0.00703283,  0.16354597,
         1.44556796,  0.16573478,  0.56085113, -0.99430195, -1.01874713]])

In [140]:
logreg = LogisticRegression()
logreg.fit(x_train , y_train)
y_pred = logreg.predict(x_test)
print("Accuracy score of logistic regression is ", accuracy_score(y_test,y_pred))

Accuracy score of logistic regression is  0.81

In [141]:
def svc_fn(train,test,y_train,y_test,scaler,Kernel='linear', c =1.0 , Degree = 3 ):
    x_train = scaler.fit_transform(train)
    x_test = scaler.transform(test)
    svc = SVC(C=c ,kernel=Kernel, degree= Degree)
    svc.fit(x_train,y_train)
    y_pred = svc.predict(x_test)
    print(round(accuracy_score(y_test,y_pred),2))

In [142]:
for i in ['linear','poly','rbf']:
    print('The Accuracy score using {} Kernel is :'.format(i),end='')
    svc_fn(x_train,x_test,y_train,y_test,StandardScaler(),i)

The Accuracy score using linear Kernel is :0.96
The Accuracy score using poly Kernel is :0.76
The Accuracy score using rbf Kernel is :0.88

In [144]:
for i in range(2,10,3):
    print('The Accuracy score using {} Kernel is :'.format(i),end='')
    svc_fn(x_train,x_test,y_train,y_test,StandardScaler(),'linear',i)

The Accuracy score using 2 Kernel is :0.96
The Accuracy score using 5 Kernel is :0.97
The Accuracy score using 8 Kernel is :0.97

In [145]:
for i in range(2,10,3):
    print('The Accuracy score using {} Kernel is :'.format(i),end='')
    svc_fn(x_train,x_test,y_train,y_test,StandardScaler(),'linear',5,i)

The Accuracy score using 2 Kernel is :0.97
The Accuracy score using 5 Kernel is :0.97
The Accuracy score using 8 Kernel is :0.97

In [146]:
orig_score = 0.96
best_score = 0.97 
improvement = np.round((np.abs(orig_score-best_score)/orig_score)*100,2)
print ("Overall Improvement :",improvement)

Overall Improvement : 1.04