In [1]:
import pandas as pd 
import numpy as np 
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
                            'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3], 
                            'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 
                            'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']} 
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [2]:
df = pd.DataFrame(data, index=labels)

In [3]:
df.animal.value_counts()

cat      4
dog      4
snake    2
Name: animal, dtype: int64

In [4]:
df.info

<bound method DataFrame.info of   animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no>

In [ ]:
df=pd.DataFrame(data,index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

In [ ]:
df.info

In [ ]:
df=pd.concat(data,index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

In [ ]:
df = pd.concat(data, index=labels)

In [ ]:
list(map(lambda x:x**2,range(8)))

In [ ]:
a = np.arange(10) 
print(a[2:] )

In [ ]:
range(8)

In [ ]:
list(filter(lambda x:x>5,range(8)))

In [ ]:
i = 1 
while True: 
    if i%2 == 0: 
        break 
    print(i) 
    i += 2

In [ ]:
i = 1 
while True: 
    if i%3 == 0: 
        break 
    print(i) 
    i += 1

In [ ]:
x = ['ab', 'cd'] 
print(len(list(map(list, x))))

In [ ]:
x = ['ab', 'cd']
print(len(map(list, x)))

In [ ]:
print('*', "abcde".center(6), '*', sep='')

In [5]:
list1 =[2, 33, 222, 14, 25]
list1[-2]

14

In [6]:
earnings = [ [ [500,505,490], [810,450,678], [234,897,430], [560,1023,640] ], [ [600,605,490], [345,900,1000], [780,730,710], [670,540,324] ] ]

In [7]:
earnings.shape

AttributeError: 'list' object has no attribute 'shape'

In [8]:
earnings.count(1)

0

In [9]:
earnings

[[[500, 505, 490], [810, 450, 678], [234, 897, 430], [560, 1023, 640]],
 [[600, 605, 490], [345, 900, 1000], [780, 730, 710], [670, 540, 324]]]

In [11]:
x = ['ab', 'cd'] 
#for i in x: 
 #   x.append(i.upper())

In [12]:
print(x)

['ab', 'cd']

In [14]:
x.append(x[0].upper())

In [15]:
print(x)

['ab', 'cd', 'AB']

In [16]:
a b c = 1000 2000 3000

SyntaxError: invalid syntax (<ipython-input-16-fd5f99168ec0>, line 1)

In [17]:
df.loc[:, ['animal', 'age']]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

In [18]:
df[['animal','age']]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

In [19]:
df.iloc[:,0:2]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

In [20]:
df.iloc[:, ['animal', 'age']]

IndexError: .iloc requires numeric indexers, got ['animal' 'age']

In [21]:
np.identity(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [22]:
np.eye(5,5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [23]:
np.identi(5)

AttributeError: module 'numpy' has no attribute 'identi'

In [24]:
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [26]:
a = pd.eye(5,5)
print (a)

AttributeError: module 'pandas' has no attribute 'eye'

In [27]:
df.groupby('animal')['age'].mean()

animal
cat      2.5
dog      5.0
snake    2.5
Name: age, dtype: float64

In [28]:
df.groupby['animal']['age'].mean()

TypeError: 'method' object is not subscriptable

In [33]:
data_1 = {'state' : ['VA', 'VA', 'VA', 'MD', 'MD'],
          'year' : [2012, 2013, 2014, 2014, 2015],
          'pop' : [5.0, 5.1, 5.2, 4.0, 4.1]} 
df_1 = pd.DataFrame(data_1)
df_1.state

0    VA
1    VA
2    VA
3    MD
4    MD
Name: state, dtype: object

In [35]:
a = set([1,2,2,3,4])

In [36]:
True = False 
while True: 
    print(True)

SyntaxError: can't assign to keyword (<ipython-input-36-44c4b52222cd>, line 1)

In [37]:
a=np.arange(10,50)
a

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49])

In [38]:
np.arange(10,50)

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49])

In [39]:
np.range(10,50)

AttributeError: module 'numpy' has no attribute 'range'

In [40]:
a=np.range(10,50)

AttributeError: module 'numpy' has no attribute 'range'

In [42]:
def smallestDiv(n): 
    if (n % 2 == 0): 
        return 2
   
    i = 3
    while(i * i <= n): 
        if (n % i == 0): 
            return i
        i += 2
    return n

In [45]:
smallestDiv(-2)

2